@charset "UTF-8";

/* Last edit: 2/18/2018 8:00 PM */
/* Last validated error free: 2/18/2018 9:27 PM */

/* Cite code */
/* styleprofile.css */
body {
 background-color:papayawhip;
 color:lightpink;
}
h1 {
 color:dimgrey;
 text-align: center;
}
p {
 background-color:azure;
 color: black;
 text-align: center;
 border: 5px;
    margin-left: auto;
    margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 2000x;
    text-align: center;
 border-style: solid;
    border-color: darkgrey;
    background-color:pink;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 2000x;
    text-align: center;
 border-style: solid;
    border-color: pink;
    background-color:darkgrey;
}
li {
  display: inline;
}
img {
align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
